@media only screen and (max-width: 600px) {
  span {
    /* font-size: 0.7rem !important; */
  }

  .sapUiRespGrid {
    padding-top: 0 !important;
    padding-bottom: 4px !important;
  }

  .sapMPanel {
    /* margin: 0 !important; */
  }

  .sapMPanelContent {
    padding-top: 8px !important;
  }
}
